{:deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases
 {:jar
  {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
   :main-opts ["-m" "hf.depstar.jar" "idx.jar"]}

  :deploy
  {:extra-deps {deps-deploy/deps-deploy {:mvn/version "0.0.9"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "idx.jar"]}}}